# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
ENV/
.venv/
.Python

# Jupyter Notebook checkpoints (por si usas alguno)
.ipynb_checkpoints

# VS Code settings
.vscode/

# Mac OS system files
.DS_Store

# Log files
*.log

# Test and coverage
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml

# PyInstaller
*.spec
dist/
build/

# Python egg info
*.egg-info/
